<div class="page-width section-{{ section.id }}-padding">
  <article class="page">
    <header class="page__header">
      <h1 class="page__title">{{ page.title }}</h1>
    </header>

    <div class="page__content rte">
      {{ page.content }}
    </div>
  </article>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section-page",
  "settings": [],
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}
