/* Collection Banner Section */

.collection-banner {
  position: relative;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  background-color: var(--color-background-secondary, #f5f5f5);
}

.collection-banner--has-image {
  min-height: 300px;
  background-color: transparent;
}

.collection-banner__image-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.collection-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-banner__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.collection-banner__content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.collection-banner--has-image .collection-banner__content {
  color: #fff;
}

.collection-banner__title {
  margin: 0 0 1rem;
}

.collection-banner__description {
  max-width: 600px;
  margin: 0 auto;
  opacity: 0.9;
}

@media screen and (min-width: 750px) {
  .collection-banner {
    min-height: 250px;
  }

  .collection-banner--has-image {
    min-height: 400px;
  }
}
